.interior {
    height: 640px;
    background-image: url(img/interior-bg.svg);
    padding-top: 60px;
    overflow: hidden;

    .title-block {
        display: flex;
        justify-content: space-between;

        h2 {
            color: #FFFFFF;
        }

        button {
            display: inline-flex;
            position: relative;
            width: 34px;
            height: 43px;
            background-color: transparent;
            border: 1px solid #777B8A;
            cursor: pointer;
        }

        .left-arrow::before,
        .right-arrow::before {
            position: absolute;
            display: inline-flex;
            width: 14px;
            height: 14px;
            content: '';
        }

        .left-arrow::before {
            top: 13px;
            right: 6px;
            border-top: 1px solid #D5D9E3;
            border-left: 1px solid #D5D9E3;
            transform: rotate(-45deg);
        }

        .right-arrow::before {
            top: 13px;
            left: 6px;
            border-top: 1px solid #D5D9E3;
            border-right: 1px solid #D5D9E3;
            transform: rotate(45deg);
        }

        button:hover,
        button:hover>.left-arrow::before,
        button:hover>.right-arrow::before {
            border-color: #ffffff;
        }

        button[disabled],
        button[disabled]>.left-arrow::before,
        button[disabled]>.right-arrow::before {
            border-color: #4D515D;
            cursor: not-allowed;
        }
    }

    .slideshow {
        margin-top: 45px;
        white-space: nowrap;

        img {
            width: 360px;
            height: 410px;
            margin-right: 30px;
        }
    }
}